<div class="footer">
  <div class="back-to-top">Back to Top</div>
  <div class="footer1">

    <ul class="links">
      <span class="headings">Get to Know Us</span>
      <a>Careers</a>
      <a>Blog</a>
      <a>About online-shopping</a>
      <a>Investor Relations</a>
      <a>online-shopping Devices</a>
      <a>online-shopping Science</a>
    </ul>


    <ul class="links">
      <span class="headings">Make Money with Us</span>
      <a>Sell products on online-shopping</a>
      <a>Sell on online-shopping Business</a>
      <a>Sell apps on online-shopping</a>
      <a>Become an Affiliate</a>
      <a>Advertise Your Products</a>
      <a>Self-Publish with Us</a>
      <a>Host an online-shopping Hub</a>
      <a>See More Make Money with Us</a>
    </ul>


    <ul class="links">
      <span class="headings">online-shopping Payment Products</span>
      <a>online-shopping Business Card</a>
      <a>Shop with Points</a>
      <a>Reload Your Balance</a>
      <a>online-shopping Currency Converter</a>
    </ul>

    <ul class="links">
      <span class="headings">Let Us Help You</span>
      <a>Your Account</a>
      <a>Your Orders</a>
      <a>Shipping Rates & Policies</a>
      <a>Returns & Replacements</a>
      <a>Manage Your Content and Devices</a>
      <a>Help</a>
    </ul>
  </div>

  <div class="footer2">
    <div class="logo"></div>
  </div>

  <div class="footer3">
    <div class="terms">
      <a>Conditions of Use </a>
      <a>Privacy Notice </a>
      <a>Consumer Health Data Privacy Disclosure </a>
      <a>Your Ads Privacy Choices </a>
    </div>

    <div class="copyright">© 1996-2025, online-shopping.com, Inc. or its affiliates</div>
  </div>

</div>