<mat-card class="common-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="common-header-image"></div> -->
    <mat-card-title>{{ displayProduct.title }}</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <!-- <img mat-card-image [src]="getImagePath()" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <div class="image1">
      <img [src]="getImagePath(displayProduct.category,displayProduct.image1)">
      <span>{{ displayProduct.imageDescr1 }}</span>
    </div>

    <div class="image1">
      <img [src]="getImagePath(displayProduct.category,displayProduct.image2)">
      <span>{{ displayProduct.imageDescr2 }}</span>
    </div>

    <div class="image1">
      <img [src]="getImagePath(displayProduct.category,displayProduct.image3)">
      <span>{{ displayProduct.imageDescr3 }}</span>
    </div>

    <div class="image1">
      <img [src]="getImagePath(displayProduct.category,displayProduct.image4)">
      <span>{{ displayProduct.imageDescr4 }}</span>
    </div>



  </mat-card-content>
  <mat-card-actions>
    <a class="action"> {{ displayProduct.buttonName }}</a>
    <!-- <button mat-button>{{ buttonName }}</button> -->
    <!-- <button mat-button>SHARE</button> -->
  </mat-card-actions>
</mat-card>