<mat-card class="common-card">
  <mat-card-content>
    <div class="image">
      <img [src]="product.img">
    </div>
    <div class="details">
      <span class="name">{{product.name | titlecase}}</span>
    </div>

    <!-- <div class="spacer"></div> -->

    <div class="price-buttons">
      <span class="price">{{product.price | currency}}</span>
      <div class="counter-buttons">
        <button class="button-2" (click)="removeFromCart()">-</button>
        <span>{{ counter }}</span>
        <button class="button-2" (click)="addToCart()">+</button>
      </div>
    </div>



  </mat-card-content>
</mat-card>