.panel {
  height: 40px;
  background-color: #232f3e;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.btn {
  height: 40px;
  background-color: #232f3e;
  color: white;
  margin-left: 10px;
}

ul {
  display: flex;
  list-style: none;
  text-decoration: none;

  /* background-color: brown;
  padding: 0;
  border: 2px solid blue; */
}

.collapse ul.navbar-nav > li > a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
}
