<!-- <div class="main-nav"> -->
<!-- <div class="panel">
  <div class="panel-all">

    <button (click)="getMenuDetails()"><i class="fa-solid fa-bars"></i>All</button>
  </div>

  <div class="panel-options">
    <a>Todays Deal's </a>
    <a>Customer Service </a>
    <a>Registry </a>
    <a>Gift Cards </a>
    <a>Sell </a>
  </div>
</div> -->


<!-- </div> -->

<div class="panel">
  <nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" (click)="toggleComponent()"><i class="fa-solid fa-bars"></i> All <span
              class="sr-only"></span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/todayDeals">Todays Deal's</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/custService">Customer Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registry">Registry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/giftCards">Gift Cards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sell">Sell</a>
        </li>
      </ul>
    </div>
  </nav>
</div>