.headlines {
  background-image: url("/assets/images/Hero1.jpg");
  background-size: cover;
  height: 800px;
  width: 1380px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.shopping-section {
  margin-top: 20px;
  margin-left: 25px;
}
