/* .grid {
  
  width: 100%;
}  */

/* .main-container {
  align-items: left;
  width: 100%;
  background-color: aqua;
} */

.col-2 {
  padding: 0%;
}

.col-10 {
  /* background-color: rgb(246, 246, 226); */
  padding: 0%;
}
