<div class="main-container">
  <header>
    <app-navbar></app-navbar>
    <app-navigation></app-navigation>
  </header>
  <div>
    <main class="min-vh-100">
      <div class="grid">
        <div class="row">


          <div class="col-2" *ngIf="stateService.showComponent">
            <app-all-menu></app-all-menu>
          </div>
          <div class="col-10">
            <router-outlet></router-outlet>
          </div>

        </div>
      </div>
    </main>




    <footer><app-footer-section></app-footer-section></footer>
  </div>