<!-- <div class="main-container"> -->
<div class="grid">
  <div class="row">
    <div class="col-12">
      <app-navbar></app-navbar>
      <app-navigation></app-navigation>
    </div>
  </div>
  <div class="row">
    <div class="col-2" *ngIf="globalVariables.isMenuOpen === true">
      <app-all-menu></app-all-menu>
    </div>
    <div class="col-10">
      <!-- <app-headlines-section></app-headlines-section> -->


      <router-outlet></router-outlet>
    </div>

    <!-- <div class="col-10" *ngIf="globalVariables.isDefaultHeadlines === true">
      <app-headlines-section></app-headlines-section>
      <app-shopping-section></app-shopping-section>
    </div> -->
  </div>

</div>
<!-- </div> -->


<app-footer-section></app-footer-section>